<h1>New Job</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="jobTitle">Title</label>
          {{input value=jobTitle id="jobTitle"}}
        </div>

        <div class="form-group">
          <label for="pay">Pay</label>
          {{input value=pay id="pay"}}
        </div>


        <button {{action 'save1'}}>Save</button>
      </form>
    </div>
