
<div class = "col-sm-6">
  <h1>House Column</h1>



{{house-tile model=model.houses}}


{{new-house save2="saveHouse"}}

</div>

<div class = "col-sm-6">
  <button class = "btn btn-danger">Sort By Pay</button>
  <button class = "btn btn-info">Sort By Date</button>
<h1>Jobs Column</h1>
{{#each model.jobs as |job|}}
  {{job-tile job=job}}
{{/each}}

{{new-job saveJob="saveJob"}}

</div>
