
<div class = "col-sm-6">
  <h1>House Column</h1>
  <button class = "btn btn-danger">Sort By Cost</button>
  <button class = "btn btn-info">Sort By Date</button>
  <button class = "btn btn-success">Sort By Rooms</button>


{{#each model.houses as |house|}}
  {{house-tile house=house}}
{{/each}}


{{new-house save2="saveHouse"}}

</div>

<div class = "col-sm-6">
  <button class = "btn btn-danger">Sort By Pay</button>
  <button class = "btn btn-info">Sort By Date</button>
<h1>Jobs Column</h1>
{{#each model.jobs as |job|}}
  {{job-tile job=job}}
{{/each}}

{{new-job saveJob="saveJob"}}

</div>
