

<button class = "btn btn-success">Create New Category</button>
<br />


<div class = "col-sm-6">
  <h1>House Column</h1>



{{house-tile model=model.houses destroyHouse="destroyHouse"}}


{{new-house save2="saveHouse"}}

</div>

<div class = "col-sm-6">

<h1>Jobs Column</h1>

{{job-tile model=model.jobs}}

{{new-job saveJob="saveJob"}}

</div>
